<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">History of how Kurocon came to be.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2013</h4>
                                    <h4 class="subheading">Otakon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">LOT of people wanted to attend these performances. A lot of peoples means LINES. Lots of lines. Basically, Linecon East. Which is still not as bad as Linecon West (also known as Anime Expo)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2014</h4>
                                    <h4 class="subheading">Harami North</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Even more lines! If I thought Otakon was bad, Anime North was worst! </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">Asapon North</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">They still haven't fixed the line problem!? Why are the lines so bad? Rude staff who don't know how to manage lines! This is truely linecon hell.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">Anime Expo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">LINES! LINES! LINES! 
                                    <br> Enough is enough, I'm making my own linecon.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Kuro
                                    <br>Con
                                    <br>2018</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>